body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
body {
  overflow-x: hidden;
}

/*-----------------Mobile devices-media queries------------------------------------*/
@media(max-width:480px) {
  .Keyboard-wrapper {
    position: absolute;
    left: 0;
    top: 100%;
  }

  .container {
    background-color: #04A5FF;
  }
}