@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

html, body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

#input-text {
  width: 100%;
  height: 100px;
  padding-right: 50px;
  box-sizing: border-box;
}

.math-input-wrap,.chem-input-wrap {
  position: relative;
  width: 100%;
  background-color: #717171;
  padding: 20px;
}

.keyboard-primary-div div #input-text {
  border-radius: 35px;
  background-color: #868686;
  border: 1px solid #676767;
  color: #fff;
}

.sendbutton-wrap svg {
  transform: scaleY(-0.9) scaleX(1) rotate(0deg);
  position: absolute;
  right: 5px;
  top: 5px;
}

path#secondary {
  fill: rgb(255 255 255) !important;
}

path#primary {
  stroke: #717171 !important;
}

.sendbutton-wrap {
  background: #717171;
  height: 70px;
  width: 70px;
  position: absolute;
  border-radius: 50px;
  right: 35px;
  top: 35px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-top-color: #a1a1a1;
  border-right-color: #9f9f9f;
  border-bottom-color: #9f9f9f;
  border-left-color: #a1a1a1;
}

.Home-Background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #21273b;
}

.keyboard-head {
  color: #ffffff;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 35px;
}

.keyboard-primary-div {
  background: #868686;
  padding: 20px;
  border: 1px solid #3f3f3f;
  margin: 0 auto;
  width: 100%;
}

.latexkeyboard button {
  background: #717171;
  border-radius: 8px;
  padding: 10px;
  border: none;
  color: #fff;
  box-shadow: 0px 2px 1px 0px #454545;
}

.Keyboard-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.para-wrap {
  background: #717171;
  padding: 20px;
}
.para-wrap p {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  white-space: pre-line;
  padding: 20px;
  border: 1px solid #676767;
  background: #868686;
  margin: 0;
  border-radius: 25px;
}
.header{
  display:flex;
  flex-direction:row;
}
.home-button-wrap ul{
  display:flex;
  flex-direction:row;
  list-style:none;
}
.katex {
  font-family: 'Poppins', sans-serif !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(245, 245, 245);
}
/*-----------------Mobile devices-media queries------------------------------------*/

@media(max-width:480px) {
  .header{
    flex-direction:column;
  }
  .home-button-wrap ul{
    flex-direction:column;
  }
  .home-button-wrap ul li{
    margin-bottom:15px;
  }
  
  .Home-Background {
    display: block;
  }
  .Keyboard-wrapper {
    position: relative;
    width: 100%;
    margin-top: 35px;
    height: unset;
  }

  .Header-img-svg {
    text-align: center;
  }

  .Header-img-svg svg {
    height: 150px !important;
    width: 100% !important;
    padding-top: 35px;
    text-align: left;
    margin-bottom: 35px;
    vertical-align: middle;
  }

  #animated-heading {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    flex: 5 0 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 35px;
    color: #34345b !important;
  }

  .home-button-wrap {
    padding-top: 35px;
  }
}